.Toolbar{
    min-width: 24.4375rem;
    max-width: 40rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: solid 4px rgba(0,99,65,1);
}

.Icon {
    height: 90%;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Icon img {
    height: 75%;
}

.Cart span{
    position: relative;
    bottom: 10px;
    left: 2px;
    background: red;
    color: white;
    font-weight: bolder;
    border-radius: 50%;
    padding: 2px 7px;
    font-size: small;    
}

.Cart {
    font-size: 1.8rem;
    cursor: pointer;
}

.Drawer {
    font-size: 2.8rem;
    color: rgba(0,99,65,1);
    cursor: pointer;
}
    
.Invisible {
    visibility: hidden;
}