.OrderSection {
    position: relative;
    top: 12vh;
    max-width: 38rem;
    margin: auto;
}

.ItemSection {
    border: 1px solid gray;
    box-shadow: 5px 5px darkgrey;
    padding: 5px;
    margin-bottom: 15px;
}

.ImgItem {
    width: 5rem;
}

.TableRow {
    text-align: center;
}

.OrderTable {
    width: 100%
}

.PageSection {
    position: relative;
    top: 12vh;
    margin: auto;
    max-width: 38rem;
    margin-bottom: 30px;
}

.PageSection span {
    margin: 25px;
    padding: 9px;
    cursor: pointer;
    font-weight: 700;
}

.Active {
    text-decoration: underline;
}